<%# Search prompt form partial %>

<%= form_tag(prompts_search_path, method: :get) do %>
  <div class="col-12 col-s-12">
    <%= text_field_tag(:query, params[:query], placeholder: "Enter your search query", required: true) %>
    <% unless @prompts.nil? %>
      <span class="total_prompts"><%= @prompts.total_entries %> results</span>
    <% end %>
    <div class="responsive-text" id="responsiveText">Search Keywords like: (A potrait, Beautiful)</div>
  </div>
  <div class="col-12 col-s-12 submit_div">
    <%= submit_tag('Search') %>
  </div>
<% end %>