<h1 class="main_heading">Routing Error</h1>
<p class="routes_error_sub_content"><b>Sorry, the page you are looking for does not exist. No routes matches.</b></p>

<div id="available_routes_div">
  <h2>Available routes:</h2>

  <table id="available_routes">
    <tr>
      <th>Helper (path/Url)</th>
      <th>Http Verb</th>
      <th>Path</th>
      <th>Controller#Action</th>
    </tr>
    <tr>
      <td>prompt_search_path</td>
      <td>GET</td>
      <td><a href="/prompt/search">/prompt/search(:format)</a></td>
      <td>prompts#search</td>
    </tr>
    <tr>
      <td>root_path</td>
      <td>GET</td>
      <td><a href="/">/</a></td>
      <td>prompts#search</td>
    </tr>
  </table>
</div>

<style>
  .main_heading {
    background-color: #F90000;
    color: #FFFFFF;
    padding: 15px;
  }

  .routes_error_sub_content {
    color: #F90000;
    margin: 27px 35px;
  }

  /* CSS for available routes listing in table view */
  #available_routes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #available_routes_div {
    margin: 60px;
  }

  #available_routes td, #available_routes th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #available_routes tr:nth-child(even){background-color: #f2f2f2;}

  #available_routes tr:hover {background-color: #ddd;}

  #available_routes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    border: none;
  }
</style>